* text=auto
*.qmd text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.scss text eol=lf
*.html text eol=lf
*.py text eol=lf
*.R text eol=lf
*.m text eol=lf
*.csv text eol=lf
*.png binary
*.gif binary
*.mp4 binary
